html {
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
}

body {
  margin: 0;
  background-color: #efefef;
}

body,
h5 {
  font-size: 20px;
  margin: 0;
  line-height: 50px;
}

h6 {
  font-family: 'Roboto', sans-serif;
  margin: 9px;
  font-size: 17px;
  line-height: 24px;
  font-family: 'Roboto', sans-serif;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

.m-b-15 {
  margin-bottom: 15px;
}

.MuiDialogContent-root {
  background-size: cover;
  text-align: center;
  background-position: 30% 45%;
  padding: 100px 0;
}

.modal-content {
  margin-top: 150px;
}

.modal-header {
  background-color: rgb(33, 33, 33);
  color: white;
  font-family: 'Roboto', sans-serif;
}

.Toastify__toast--success {
  background-color: #008b00 !important;
}

.Toastify__toast--error {
  background-color: #dc3545 !important;
}
